@use "functions" as *;
@use "variables" as *;

.section_information {
  width: 75vw;
  margin: 5vh auto;
  text-align: center;

  h2 {
    font-size: rem(36);
    color: var(--information-header);
    margin-bottom: 5%;
  }

  .container-information {
    display: flex;
    gap: 5%;
  }

  .information {
    text-align: center;
    margin: auto;

    .image {
      min-height: rem(150);
      //   max-height: rem(200);
      max-width: rem(150);
      border: rem(2) solid var(--button-color);
      border-radius: rem(5);
      margin: auto;
    }

    p {
      max-width: rem(150);
    }
  }
}
