// FONTS
:root {
  --font-body: "Roboto", sans-serif;
}

//COLOURS
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-bg: #1f2937;
  --hero-main: #f9faf8;
  --hero-secondary: #e5e7eb;
  --button-color: #3882f6; // color for button and bg color for cta button
  --information-header: #1f2937;
  --quote-bg: #e5e7eb;
  --quote-text: #1f2937;
}
